.sideBar{
    flex: 1;
    height: calc(100vh - 90px);
    position: sticky;
    top: 50px;
}

.sideBarWrapper{
    padding-right: 20px;
    color: #222222;
}

.sideBarMenu{
    margin-bottom: 15px;
}

.sideBarTitle{
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
    border-right: 3px solid #39d3fa;
    color: #717171;
}

.sideBarList{
    list-style: none;
    padding: 5px 0;
}

.sideBarListItem{
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #222222;
    text-decoration: none;
}

li.sideBarListItem{
    color: #777777;
}

li.sideBarListItem .sideBarIcon{
    color: #fc5454;
}

.sideBarListItem:last-child{
    margin-bottom: 0;
}

.sideBarListItem.active, .sideBarListItem:hover{
    background-color: #e6effb;
}

.sideBarIcon{
    margin-left: 5px;
    font-size: 14px;
    color: #39d3fa;
}