.userList{
    padding: 0 20px;
}

.userListCell{
    display: flex;
    align-items: center;
}

.userListAvatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.userListDelete{
    margin-right: 15px!important;
}

.userListEdit{
    border-radius: 10px;
    background-color: #06b800;
    color: white;
    font-size: 14px;
    padding: 10px 15px;
    margin-right: 15px;
}

.userListStatus{
    color: #06b800;
    font-size: 16px;
    margin-right: 5px;
}

.userListStatus.red{
    color: #b80000;
}

.userListDelete{
    cursor: pointer;
}

.MuiTablePagination-actions{
    direction: ltr;
}

.topButtonContainer{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;
}

.topButton{
    margin-right: 15px;
}

.topButtonIcon{
    font-size: 14px;
    margin-right: 5px;
}