.header{
    margin-bottom: 40px;
}

.logo{
    width: 150px;
    height: 150px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/image/png/logo.png');
}